<div class="intro intro4 overlay gradient6">
  <div class="container">
    <div class="row center welcome">

        <%= form_for User.new, :url => sign_in_path, html: { class: "intro-form"} do |f|%>
          <h4><b>Sign in</b> first</h4>
          <%= f.text_field :email, placeholder: "Email", autocomplete:"off" %><br>
          <%= f.password_field :password, placeholder: "Password" %><br>
          <%= f.button 'Sign In', class: 'buttons btn btn-primary btn-lg btn-block text-center'%>
        <% end %>


    </div>
  </div>
</div>
