<h1>Welcome to Travelx</h1><br>

<p>Share your travel experience with your friends and family</p><br>
<p>Benefits from meaningful tips from people you know</p><br>
<p>Don't waste your time during your vacations</p><br>
<p>Enjoy your vacations!</p>
