<h1>Welcome to Travlx</h1><br>


<div class="row">
  <div class="col-md-6">
    <p>Share your travel experience with your friends and family</p>
  </div>
  <div class="col-md-6">
    <p>Benefits from meaningful tips from people you know</p>
  </div>
  <div class="col-md-6">
    <p>Don't waste your time during your vacations</p>
  </div>
  <div class="col-md-6">
    <p>Enjoy your vacations!</p>
  </div>
</div>
