<h1>Welcome <%= current_user.username %></h1><br>

<h3>Existing Boards</h3>
<ul>
  <% @boards.each do |board| %>
    <li><%= link_to board.title, user_board_path(current_user, board) %></li>
  <% end %>
</ul>
