<%= errors_messages(@board)%>

<%= display_create_activity_form_from_board(@activity, @user) %>
<br>

<%= display_create_board_form(@board, @user)%>
<br>

<h3>Boards</h3>
<ul>
  <% @boards.each do |board| %>
    <li><%= show_board_link(board, @user) %></li>
  <% end %>
</ul>
