<h1><%= @board.title %></h1>

<h3>Activities included in that board</h3><br>
<ol>
  <% @board.activities.each do |activity| %>
    <li>Description: <%= activity.description %> | Rating: <%= activity.rating %></li>
    <%=link_to "Edit", edit_user_activity_path(current_user, activity) %> | Delete <br><br>
  <% end %>
</ol>
