<h1><%= @board.title %></h1>
Edit

<h3>Activities included in that board</h3><br>
<ol>
  <% @board.activities.each do |activity| %>
    <li>Description: <%= activity.description %> | Rating: <%= activity.rating %></li>
    Edit | Delete <br><br>
  <% end %>
</ol>
