/* =============================
   1. WELCOME
================================ */


#board-form input {
	width: 100%;
	margin-bottom: 10px;
  // margin-left: 30px;
  // margin-right: 30px;
	padding: 0 15px;
	// height: 50px;
	border-radius: 10px;
	font-size: 15px;
	color: #000;
	// border: 1px solid #ddd;
	transition:.4s;
}


#board-form input:focus {
	border:2px solid #1ebbf0;
}

#board-form {
	text-align: center;
	// background: #f5f5f5;
	// padding: 20px 40px 40px;
	// border-radius: 5px;
  // margin: 0 50px 0 0;
}

#board-form h4 {
	color: #000;
	font-size: 25px;
	margin: 0px 0 40px;
}

#board-form span {
	color: #666;
	margin-top: 15px;
	display: block;
	font-size: 13px;
	padding: 0 15px;
	line-height: 24px;
}

#board-form button {
	padding: 0 20px;
	line-height: 50px;
  width: 94%;
  // min-width: 100%;
	margin: auto;
	border-radius: 10px;
}

.btn-primary-board {
	// border: 2px solid #00bcd4;
  // border-color: #00bcd4;
  // border-radius: 20px ;
	padding: 13px 20px;
  color: #fff;
	background: #2b632b;
	// text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.btn-primary-board button:hover {
	background: #36a53a;
}

#board-form button:hover {
  // border: 2px solid #00bcd4;
	background: #4caf50;
	color: #fff;
}

.title-field{
	height: 50px;
	// color: #000;
	border: 1px solid #ddd;
}

.description-field {
	height: 40px;
	// color: #000;
	border: 1px solid #ddd;
}

.rating-field {
	height: 40px;
	border: 1px solid #ddd;
}



.checkbox {
  display: block;
  padding-left: 15px;
  // text-indent: -15px;
}

// #previous-board {
// 	display:none;
// }
//
// #next-board {
// 	display:none;
// }

#board-title {
	padding-left: 0;
}

/* =============================
   2. GENERAL
================================ */

#welcome {
  background: linear-gradient(to right, #26D0CE, #1A2980);
}

.general-container {
  margin-top: 70px;
}

#board-form-container {
  margin-top: 10px;
	background: #eeeeee;
	padding: 20px 30px;
}

.add-board{
	padding: 10px 15px 0;

}

.add-board h3 {
	text-align: left;
	color: #006bb2;
	margin-bottom: 0px;
}

.activity-title {
	display:flex;
}

.activity-phrase {
	margin: auto;
}
.activity-phrase h3 {
	vertical-align: middle;
	margin:0;
	color: #006bb2;
}

#left-phrase h3 {
	text-align: right;
}

#right-phrase h3 {
	text-align: left;
}

#circle{
	margin: auto;
	width:70px;
	height:70px;
	border-radius:50%;
	// border: 1px solid;
	background: #006bb2
}

#circle-text {
	margin: auto;
	top: 50%;
	transform: translateY(25%);
}

#circle-text h2 {
	margin:0;
	vertical-align: middle;
	color: #fff;
}

.add-activity{
	// background: #00bcd4;
	// margin-top: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 15px 15px 0;
	// padding-top: 20px;
	// padding-bottom: 20px
}


.add-activity-option {
	position: relative;
}

.add-activity h3 {
	color: #fff;
}

.description {
	// background: #000;
	padding-left: 0px;
	margin-bottom: 0px
}

.rating {
	// margin-left: 15px;
	padding-left: 0px;
	padding-right: 0px;
	// margin-bottom: 0px
}

.space-line {
  padding-top: 0;
  padding-bottom: 10px;
}
.space-line::after{
  top: 10px;
}

.gallery {
  margin-top: 10px;
}

.gallery-board {
  margin-bottom: 15px;
  height: 101px;
  width: 155px;
}

/* =============================
   3. BUTTON
================================ */

.btn-more h2 {
	background: #fff;
  color:#1ebbf0;
	margin: 0 auto;
	display: table;
	border-radius: 50px;
	padding: 0 15px;
	min-width: 170px;
	text-align: center;
	border: 1px solid #ddd;
	position: relative;
	z-index: 11;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 700;
}

// #btn-add-activity {
// 	// background: #000;
//   color:#1ebbf0;
// 	margin: 0 auto;
// 	display: table;
// 	// border-radius: 100px;
// 	padding: 0 15px;
// 	min-width: 170px;
// 	text-align: center;
// 	// border: 1px solid #ddd;
// 	position: relative;
// 	z-index: 11;
// 	text-transform: uppercase;
// 	font-size: 13px;
// 	letter-spacing: 1px;
// 	font-weight: 700;
// }



// #btn-add-activity h2{
// 	border-radius: 50%;
// 	width: 30px;
// 	height: 30px;
// 	background: transparent;
// 	border: none;
// }


/* =============================
   4. NAVBAR AND MODAL FORM
================================ */



.center {
  display: -ms-flexbox;
  margin: auto;
  width: 50%;
  -webkit-box-align: top;
  -ms-flex-align: top;
  align-items: top;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
}

.navbar-inverse.general {
  background: #006BB2;
  border: none;
  margin: 0;
  padding: 10px 0;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
}

.navbar-inverse.affix.general {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
}

.welcome {
  margin-top: 30px;
}

.is-not-visible {
  display: none;
}

.selected {
  background: #FFF;
}

.cd-user-modal-container .cd-switcher:after {
  content: "";
  display: table;
  clear: both;
}

.cd-user-modal-container .cd-switcher li {
  width: 50%;
  float: left;
  text-align: center;
}

.cd-user-modal-container .cd-switcher li:first-child a {
  text-decoration: none;
  border-radius: .25em 0 0 0;
}

.cd-user-modal-container .cd-switcher li:last-child a {
  text-decoration: none;
  border-radius: 0 .25em 0 0;
}

.cd-user-modal-container .cd-switcher a {
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #d2d8d8;
  color: #809191;
}

.cd-user-modal-container .cd-switcher a.selected {
  background: #FFF;
  color: #505260;
}
