<div id="new-activity">
  <div class="col-sm-9 description">
    <%= activity.text_field :description, placeholder: "Description", autocomplete:"off", class:"description-field"%>
  </div>
  <div class="col-sm-3 rating">
    <%= activity.text_field :rating, placeholder: "Rating", autocomplete:"off", class:"rating-field"%>
  </div>
</div>
