<h2>Update your activity</h2><br>
<%= form_for @activity, url:user_activity_path(current_user, @activity) do |f|%>
  <%= render partial:"activity", :locals => {activity: f} %>
  <h3>Belongs to boards</h3>
  <%= f.collection_check_boxes :board_ids, current_user.boards, :id, :title do |b|
      b.label(class: 'checkbox') {b.check_box + b.text}
  end %><br><br>
  <%= f.submit "Edit Activity", class: "btn btn-primary"%>
<% end %>
