<h2>Update your activity</h2><br>
<%= form_for @activity, :url => url_address_activity(@activity, @user) do |f|%>
  <%= render partial:"activity", :locals => {activity: f} %>
  <%= f.submit "Edit Activity", class: "btn btn-primary"%>
<% end %>
