<h2>Update your activity</h2><br>
<%= form_for @activity, url:user_activity_path(current_user, @activity) do |f|%>
  <%= render partial:"activity", :locals => {activity: f} %>
  <%= f.submit "Edit Activity", class: "btn btn-primary"%>
<% end %>
